html {
    height: 100%;
    width: 100%;
}
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px
}
  
.container {
    position: relative;
    max-width: 400px;
    margin: 17px auto;
    padding: 10px;
    border: solid 2px rgb(31, 88, 157);
    border-radius: 320px;
    border-width: 5px;
}
  
.header {
    text-align: center;
}
  
h1 {
    color: black;
}
  
p {
    color: black;
}
  
.content{
    position: relative;
    max-width: 400px;
    margin: 17px auto;
    padding: 10px;
    border: solid 2px rgb(31, 88, 157);
    border-radius: 320px;
    border-width: 5px;
}
  
.insidecontent {
    text-align: center;
    font-size: large;
    font-family: serif;
}

.iamme {
    font-weight: bold;
}


.footer {
    text-align: center;
    margin-top: 20px;
}
  
p {
    color: black;
    
}