@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



html {
    height: 100%;
    width: 100%;
    background-color: black;
}

div {
    color: white;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px
}
  
.container, .content, .boxinsidecontent {
    position: static;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: solid 2px rgb(23, 110, 216);
    border-radius: 12px;
    border-width: 5px;
    position: relative;
    left: 75vh;
}
  
.header {
    text-align: center;
}
  
h1 {
    color: rgb(255, 255, 255);
}
  
p {
    color: rgb(255, 255, 255);
}
  

  
.insidecontent {
    text-align: center;
    font-size: large;
    font-family: 'Roboto',-apple-system, montserrat;
}
/*A diffirent border for {boxinsidecontent}*/

.insidecontent1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 9px auto;
    border: 2px solid rgb(22, 30, 188);
    border-radius: 9px;
}



.iamme {
    font-weight: bold;
}


.footer {
    text-align: center;
    margin-top: 22px;
}
  
p {
    color: rgb(255, 255, 255);  
}