html {
    height: 100%;
    width: 100%;
    background-color: black;
}

div {
    color: white;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px
}
  
.container {
    position: relative;
    max-width: 400px;
    margin: 17px auto;
    padding: 10px;
    border: solid 2px rgb(23, 110, 216);
    border-radius: 320px;
    border-width: 5px;
}
  
.header {
    text-align: center;
}
  
h1 {
    color: rgb(255, 255, 255);
}
  
p {
    color: rgb(255, 255, 255);
}
  
.content{
    position: relative;
    width: 400px;
    margin: 17px;
    padding: 10px;
    border: solid 2px rgb(23, 110, 216);
    border-radius: 32px;
    border-width: 5px;
}
  
.insidecontent {
    text-align: center;
    font-size: large;
    font-family: -apple-system;
}
/*A diffirent border for {boxinsidecontent}*/

.boxinsidecontent {
    position: relative;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: solid 2px rgb(23, 110, 216);
    border-radius: 12px;
    border-width: 5px;
}


.iamme {
    font-weight: bold;
}


.footer {
    text-align: center;
    margin-top: 20px;
}
  
p {
    color: rgb(255, 255, 255);  
}